<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput name="title" ngModel required #title="ngModel"/>
      <mat-error *ngIf="title.invalid">Dont leave this empty</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" name="content" ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Dont leave this empty</mat-error>
    </mat-form-field>
    <hr/>
    <button matButton >Save</button>
  </form>
</mat-card>

